{% extends "layouts/layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

</head>
<body>
    <header>
        <h1>{{ title }}</h1>
    </header>

    <main>
        <section>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Crear Publicación</button>
            </form>
        </section>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2024 - Blog</p>
    </footer>
</body>
</html>
{% endblock content %}