{% extends "layouts/layout_login.html" %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
    {% endfor %}
{% endif %}
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="{% static 'images/logos/seodashlogo.png'%}" alt="">
            </a>
            <p class="text-center">Skill Bridge</p>
            <form method="POST">
                {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuario</label>
                <input type="text" class="form-control" name="user" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
              <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" name="pass" id="exampleInputPassword1">
              </div>
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="form-check">
                  <input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked>
                  <label class="form-check-label text-dark" for="flexCheckChecked">
                    Remeber this Device
                  </label>
                </div>
                <a class="text-primary fw-bold" href="./index.html">olvide mi contraseña</a>
              </div>
              <button class="btn btn-primary w-100 py-8 fs-4 mb-4" type="submit">Iniciar Sesion</button>
              <div class="d-flex align-items-center justify-content-center">
                <p class="fs-4 mb-0 fw-bold">Eres un nuevo suario?</p>
                <a class="text-primary fw-bold ms-2" href="{% url 'register' %}">Crear cuenta</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
